augly==0.1.9
beautifulsoup4==4.10.0
captum==0.4.1
colorcet==3.0.1
cycler==0.10.0
Cython==0.29.24
datashader==0.14.5a1.post1+g4823087
h5py==3.4.0
hvplot==0.8.3
inotify_simple==1.3.5
jsonargparse==4.20.0
libmr==0.1.9
lightning_bolts==0.6.0.post1
matplotlib==3.7.1
miniball==1.1.0
nlopt==2.8.0
numpy==1.24.3
opencv_contrib_python==4.8.1.78
opencv_python_headless==4.2.0.34
openpose_pytorch==0.1.0
pandas==2.0.1
panel==1.0.2
PEACH @ git+https://github.com/Vastlab/PEACH@main
Pillow==9.5.0
plotly==5.6.0
psutil==5.8.0
pytorch_lightning==1.8.3
pytorch_lightning_bolts==0.3.2.post1
pytorch_metric_learning==2.0.1
PyYAML==6.0
Requests==2.32.3
scikit_learn==1.2.2
scipy==1.14.1
timm==0.4.12
torch==1.13.1
torch_geometric==2.6.1
torchmetrics==0.11.1
torchreid==1.4.0
torchvision==0.14.1
torchviz==0.0.2
tqdm==4.65.0
umap==0.1.1
umap_learn==0.5.3
vast @ git+https://github.com/Vastlab/vast@main
yacs==0.1.8
